<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>测口腔温度一般在36℃－37.2℃为正常。若在腋下测量，正常值为36℃－37℃，一昼夜中，人体体温是周期性波动，从清晨2时至6时最低，下午13时至18时最高，但波动幅度一般不超过1℃。如腋下温度超过37.3℃为低烧。</string>
		<key>name</key>
		<string>体温指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>脉博也称心率，是心脏的节律性收缩和舒张。正常人安静心率在60－100次/分钟，成年男性脉博应为60－80次/分钟，成年女性应为70－90次/分钟，超过100次/分钟为心动过速，低于60次/分钟为心动过缓。体温每升高1℃，脉博约增加10－20次/分钟。</string>
		<key>name</key>
		<string>脉搏指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>安静状态下，正常成人呼吸应为16－20次/分钟，运动后或发烧时呼吸加剧，超过20次/分钟或不足10次/分钟都为不正常。呼吸与脉博之比约为1:4。测呼吸不仅测每分钟的次数，还应注意深浅和间隔是否均匀。如呼吸困难，要分辨是吸气困难、呼气困难还是吸气呼气都困难。如出现呼吸困难和其它异常，应到医院检查。</string>
		<key>name</key>
		<string>呼吸标准</string>
	</dict>
	<dict>
		<key>content</key>
		<string>血压指心脏收缩时血液流经动脉对管壁产生的侧压力。正常血压：收缩压&lt;120毫米汞柱，舒张压&lt;80毫米汞柱；正常高值：收缩压120－139毫米汞柱，舒张压80－89毫米汞柱；高血压：收缩压≥140毫米汞柱，舒张压≥90毫米汞柱。1级高血压（轻度）：收缩压140－159毫米汞柱，舒张压90－99毫米汞柱；2级高血压（中度）：收缩压160－179毫米汞柱，舒张压100－109毫米汞柱；3级高血压（重度）：收缩压≥180毫米汞柱，舒张压≥110毫米汞柱；单纯收缩期高血压：收缩压≥140毫米汞柱；舒张压&lt;90毫米汞柱。</string>
		<key>name</key>
		<string>血压指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string> 血糖指血液中的葡萄糖。血糖正常值：空腹血糖应在3.3－5.6毫摩尔/升，餐后2小时时血糖&lt;7.8毫摩尔/升。
 
    血糖病是由于体内胰岛素分泌不足或对胰岛素需求增加，引起血糖升高，尿糖出现，脂肪、蛋白质、矿物质代谢紊乱。糖尿病分为1型和2型，1型糖尿病好发于儿童和青年，又称为胰岛素依赖型糖尿病；2型糖尿病好发于40－60岁，又称为非胰岛素依赖型糖尿病。
 
    糖尿病诊断标准：空腹血糖≥7.0毫摩尔/升和（或）餐后2小时血糖≥11.1毫摩尔/升。糖尿病前期标准：空腹血糖≥6.1毫摩尔/升－&lt;7.0毫摩尔/升和餐后2小时血糖≥7.8毫摩尔/升－&lt;11.1毫摩尔/升。糖尿病预警信号：空腹血糖&gt;5.6毫摩尔/升，当空腹血糖超过该标准，糖尿病发病率显著增加，缺血性心脏病等心血管事件及视网膜病变发生率明显增加。</string>
		<key>name</key>
		<string>血糖指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>血指指血浆中的指质浓度，包括总胆固醇（TC）、甘油三酯（TG）低密度脂蛋白胆固醇（LDL－C）、高密度脂蛋白胆固醇（HDL－C）。
 
    血脂正常值：TC&lt;5.18毫摩尔/升，TG&lt;1.7毫摩尔/升，LDL－C&lt;3.37毫摩尔/升，HDL－C≥1.04毫摩尔/升。

    血脂边缘升高：TC：5.18－6.19毫摩尔/升，TG：1.70－2.25毫摩尔/升，LDL－C： 3.37－4.12毫摩尔/升。

    血脂升高：TC≥6.22毫摩尔/升，TG≥2.26毫摩尔/升，LDL－C≥4.14毫摩尔/升，HDL－C&lt;1.04毫摩尔/升</string>
		<key>name</key>
		<string>血脂指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>体重指数：BMI=体重（千克）/身高（米）的平方。体重指数在18.5－23.9属正常；&lt;18.5为体重过低；24.0－27.9为超重；≥28.0为肥胖。</string>
		<key>name</key>
		<string>体重指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>⑴腰围：男性≥89厘米，女性≥80厘米；⑵甘油三酯：≥1.7毫摩尔/升；⑶高密度脂蛋白：男性&lt;0.9毫摩尔/升，女性&lt;1.1毫摩尔/升；⑷血压：收缩压≥130毫米汞柱，舒张压≥85毫米汞柱；⑸血糖：空腹血糖≥5.6毫摩尔/升。</string>
		<key>name</key>
		<string>代谢综合症指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>正常：1000－2000毫升/24小时；少尿：&lt;400毫升/24小时，多见于饮水过少、脱水、肾功能不全等；无尿：&lt;100毫升/24小时，多见于肾功能衰竭、休克等严重疾病；夜尿量：指夜晚8时至次晨8时的总尿量，一般为500毫升，排尿2－3次。若夜尿量超过白天尿量，且排尿次数明显增多，称夜尿增多；生理性夜尿增多与睡前饮水过多有关；病理性夜尿增多常为肾脏浓缩功能受损的表现，是肾功能减退的早期信号。</string>
		<key>name</key>
		<string>尿量</string>
	</dict>
	<dict>
		<key>content</key>
		<string>谷丙转氨酶（ALT）：正常值为5－40单位/升。谷丙转氨酶广泛存在于身体各组织，但在肝细胞中活力最高，是肝细胞损伤最敏感的指标。ALT升高见于急慢性肝炎、中毒性肝炎、酒精性肝炎、脂肪肝、肝硬化、肝癌、心肌梗死、心肌炎及胆道疾病（胆囊炎、胆管炎）等。
 
    谷草转氨酶（AST）：正常值为8－40单位/升。谷草转氨酶在心肌和肝组织、骨组织中活力很高，当上述组织发生疾病时，AST会升高。AST升高见于心肌梗死、急慢性肝炎、中毒性肝炎、脂肪肝、肝硬化、肝癌、心肌炎及胆道疾病（胆囊炎、胆管炎）等。</string>
		<key>name</key>
		<string>肝功能指标</string>
	</dict>
	<dict>
		<key>content</key>
		<string>尿素和肌酐均为机体代谢产生的废物，由肾排出，肾功能障碍到一定程度时，血液中的尿素和肌酐浓度会升高。
 
    尿素氨（BUN）：正常值为2.9－7.1毫摩尔/升，&gt;60岁为2.8－7.8毫摩尔/升。升高见于急性肾小球肾炎、慢性肾炎、肾盂肾炎、肾功能衰竭、尿毒症、前列腺肥大、尿路结石、尿路梗阻、肾恶性肿瘤等。
 
    肌酐（Cr）：正常成年男性为53－170微摩尔/升，正常成年女性为44－97微摩尔/升。升高常见于严重肾功能不全、各种肾脏损害、心功能不全等。</string>
		<key>name</key>
		<string>肾功能指标</string>
	</dict>
</array>
</plist>
